<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="google-site-verification" content="pBMINcnwr57iu8-AD1FRSRMqY7tRygOTNDz7w95KVeM" />
    <meta name="msvalidate.01" content="1BA7BB6D6BFBDDC7EC2C245C606416EE" />
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/dark.css" />
    <link rel="stylesheet" href="/static/md.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml" />
</head>
<body>

<div class="menu">
    <div class="content">
        <ul>
            <li class="index {% if page.section == 'index' %}selected{% endif %}">
                <a href="/">{{site.name}}</a>
            </li>
            <li class="archive {% if page.section == None or page.section == 'archive' %}selected{% endif %}">
                <a href="/archive.html">Archive</a>
            </li>
            <li class="about {% if page.section == 'about' %}selected{% endif %}">
                <a href="/about.html">About</a>
            </li>
        </ul>
    </div>
</div>

<div class="header">
    <div class="content">
        <h1 class="title">
            {% if page.subtitle %}
                {{ page.subtitle }}
            {% else %}
                Archive
            {% endif %}
        </h1>
    </div>
</div>

<div class="main">
    <div class="content">
        {{ content }}
    </div>
</div>

<div class="footer">
    <div class="content">
        {% include social.html %}
    </div>
</div>

</body>
</html>
